<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.at.faint545"
    android:versionCode="7"
    android:versionName="1.0-PRERELEASE" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
            android:largestWidthLimitDp="350"></supports-screens>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sabnzbd.Alt" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UpdateRemoteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Sabnzbd.Alt"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ViewRemoteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Sabnzbd" />
        <activity
            android:name=".activities.HistoryDetailsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Sabnzbd" >
        </activity>
        <receiver android:name=".receiver.AlarmReceiver"></receiver>
        <service android:name=".services.DownloadService"></service>
    </application>

</manifest>